# Redirect all HTTP traffic to HTTPS.
:80 {
    redir https://{host}{uri} permanent
}

#For production -> domain
{$APP_DOMAIN} {
 # Static files served directly by Caddy
 handle /static/* {
     root * /srv
     file_server
 }

 handle /media/* {
     root * /srv
     file_server
 }

 # Django app
 reverse_proxy web:8000
}
