# For development -> localhost
:80 {
    # Static files served directly by Caddy (faster)
    handle /static/* {
        root * /srv
        file_server
    }

    handle /media/* {
        root * /srv
        file_server
    }

    # Everything else to Django
    reverse_proxy web:8000
}

#For production -> domain
{$APP_DOMAIN:80} {
 # Static files served directly by Caddy
 handle /static/* {
     root * /srv
     file_server
 }

 handle /media/* {
     root * /srv
     file_server
 }

 # Django app
 reverse_proxy web:8000
}