{% extends "base.html" %}

{% block page_name %}Home{% endblock page_name %}

{% block page_content %}
TO DO:

I. Projekty ze studiów:
-comic filter,
-crypto currency price prediction,
-gaussian pyramid project,
-multi-dimensional data visualization,
-instagram project,
-acticityTracker project,
-granular data organization in single group,
-unity game,


II. Projekty własne
-webscrapping weather data, with visualization in matplotlib,
-export Lubimyczytac.pl books data into cvs/other services format,
-creating a website with Django, with a blog and a portfolio,
-Lubimyczytac.pl user data visualization using plotly,
-rewrite blog using react/ other language,


{% endblock page_content %}
