{% extends "base.html" %}

{% block page_name %}Home{% endblock page_name %}

{% block page_content %}
<div class="row">
    <div class="col-md-4">
        <!-- Przykładowe miejsce na zdjęcie -->
        <img src="https://via.placeholder.com/300x300" class="img-fluid rounded" alt="Moje zdjęcie">
    </div>
    <div class="col-md-8">
        <h1>O mnie</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula cursus dui, eget tristique urna dapibus eget. 
            Sed vitae volutpat quam. Quisque ut fermentum tortor. Integer ullamcorper metus in fermentum interdum.
        </p>
        <p>
            Curabitur auctor dui et sapien maximus, a condimentum justo eleifend. Maecenas scelerisque consectetur nisl, in 
            condimentum nisl elementum a. Morbi porttitor, quam in lacinia interdum, odio nunc commodo nibh, vel faucibus nisi 
            quam at justo.
        </p>
    </div>
</div>
{% endblock page_content %}
