@import "tailwindcss";
@plugin "daisyui" {
    themes: all;
}

h1 {
    @apply text-4xl;
}
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}



@plugin "daisyui/theme" {
    name: "fantasy2";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(100% 0.04 256.788);
    --color-base-300: oklch(100% 0.1 100);
    --color-base-content: oklch(27.807% 0.029 256.847);
    --color-primary: oklch(37.45% 0.189 325.02);
    --color-primary-content: oklch(87.49% 0.037 325.02);
    --color-secondary: oklch(53.92% 0.162 241.36);
    --color-secondary-content: oklch(90.784% 0.032 241.36);
    --color-accent: oklch(75.98% 0.204 56.72);
    --color-accent-content: oklch(15.196% 0.04 56.72);
    --color-neutral: oklch(27.807% 0.029 256.847);
    --color-neutral-content: oklch(85.561% 0.005 256.847);
    --color-info: oklch(72.06% 0.191 231.6);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(64.8% 0.15 160);
    --color-success-content: oklch(0% 0 0);
    --color-warning: oklch(84.71% 0.199 83.87);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(71.76% 0.221 22.18);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}



@plugin "daisyui/theme" {
    name: "synthwave2";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(27% 0.041 260.031);
    --color-base-200: oklch(44% 0.043 257.281);
    --color-base-300: oklch(37% 0.01 67.558);
    --color-base-content: oklch(78% 0.115 274.713);
    --color-primary: oklch(71% 0.202 349.761);
    --color-primary-content: oklch(28% 0.109 3.907);
    --color-secondary: oklch(82% 0.111 230.318);
    --color-secondary-content: oklch(29% 0.066 243.157);
    --color-accent: oklch(75% 0.183 55.934);
    --color-accent-content: oklch(26% 0.079 36.259);
    --color-neutral: oklch(39% 0.195 277.366);
    --color-neutral-content: oklch(87% 0.065 274.039);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(77% 0.152 181.912);
    --color-success-content: oklch(27% 0.046 192.524);
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(42% 0.095 57.708);
    --color-error: oklch(73.7% 0.121 32.639);
    --color-error-content: oklch(23.501% 0.096 290.329);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
  }
  