{% extends "base.html" %}

{% block page_name %}About{% endblock page_name %}

{% block content %}
<div class="hero min-h-screen bg-base-200 rounded-box">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <div class="text-2xl font-bold">ABOUT ME</div>
            <br>
            <div class="py-6">
            <div class="text-4xl font-semibold">Hi, I'm Krystian Stasica</div>
            <br>
            <div class="text-2xl text-primary">Junior Full-Stack & Data Science Enthusiast</div>
            <br>
            <div class="text-2xl font-semibold pt-4">Technologies of intrest</div>
            <div class="flex flex-wrap justify-center gap-2 py-2">
                    <div class="badge badge-secondary">Python</div>
                    <div class="badge badge-secondary">Django</div>
                    <div class="badge badge-secondary">PostgreSQL</div>
                    <div class="badge badge-secondary">NumPy</div>
                    <div class="badge badge-secondary">Pandas</div>
                    <div class="badge badge-secondary">Web Scraping</div>
                    <div class="badge badge-secondary">Automated Testing</div>
                    <div class="badge badge-secondary">C</div>
                    <div class="badge badge-secondary">C++</div>
                    <div class="badge badge-secondary">Java</div>
                </div>
                <p class="py-4 text-base">
                I'm a young specialist passionate about creating robust web applications and data-driven solutions. 
                My journey spans back-end development with Python, Django and PostgreSQL, data analysis and automation using NumPy, Pandas, web scraping techniques, and automated testing frameworks.
                </p>
                <div class="text-2xl font-semibold pt-4">5 Key Soft Skills</div>
                <div class="flex flex-wrap justify-center gap-2 py-2">
                    <div class="badge badge-accent">Communication</div>
                    <div class="badge badge-accent">Problem-Solving</div>
                    <div class="badge badge-accent">Adaptability</div>
                    <div class="badge badge-accent">Teamwork</div>
                    <div class="badge badge-accent">Time Management</div>
                </div>
            </div>
            <div class="flex gap-4 justify-center">
                <a href="mailto:krystian.stasica@outlook.com" class="btn btn-primary">Contact Me →</a>
                <a href="/projects/" class="btn btn-outline">See My Work 😊</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}