{% extends 'base.html' %}

{% block content %}
<!-- Flowbite Jumbotron  -->
{% load static %}
<div class="container mx-auto p-6 max-w-7xl">
<section class="bg-center bg-no-repeat bg-cover p-4 rounded-box" style="background-image: url('{% static 'images/hero-bg.png' %}')">
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <div class="p-6 rounded-lg shadow-lg max-w-xl mx-auto bg-base-200 dark:bg-base-900 opacity-80">
      <h1 class="text-primary mb-2 mt-8">
        I am Krystian Stasica
      </h1>
      <h2 class="text-secondary mb-2 mt-8">
        Junior Programmer & Data Science Enthusiast
      </h2>
    </div>
    <a href="/projects/" class="btn btn-primary btn-xl mt-8">
      View All My Projects
    </a>
  </div>
</section>

<!-- End Flowbite Jumbotron  -->


<section class="bg-center bg-no-repeat bg-base-200 bg-cover p-6 mt-4 rounded-box  border border-primary">

  <h1 class="text-primary mb-2 mt-8">Project timeline</h1>

  <div class="collapse collapse-plus bg-base-100 border border-base-neutral mb-2 mt-8">
    <input type="radio" name="my-accordion-3" />
    <div class="collapse-title font-semibold">
      <!-- Planed-->
      <!---->
      <h2 class="text-primary">Planed:</h2>
    </div>
    <div class="collapse-content text-sm">
      <ol class="relative border-s border-base-neutral dark:border-base-700">   
        <!---->
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">Late 2025</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Rewrite/expand this website using react</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">The goal is to explore and compare the capabilities of various <span class="badge badge-soft badge-primary">Frontend</span> frameworks by rewriting and expanding the website using <span class="badge">React</span>.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg></a>
        </li>
        <!---->
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">May 2025</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Lubimyczytać.pl user data visualization using plotly</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">Using data stored in PostgreSQL to create interactive book-related visualizations with Plotly.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg></a>
        </li>
        <!---->
      </ol>
    </div>
  </div>
  <div class="collapse collapse-plus bg-base-100 border border-base-neutral mb-2 mt-8">
    <input type="radio" name="my-accordion-3" checked="checked" />
    <div class="collapse-title font-semibold">
      <!-- Ongoing-->
      <!---->
      <h2 class="text-primary">Ongoing:</h2>
    </div>
    <div class="collapse-content text-sm">
      <ol class="relative border-s border-base-neutral dark:border-base-700">            
        <!---->      
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">April 2025</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Portfolio webpage using django/tailwindcss. </h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">The frontend is built with TailwindCSS and the DaisyUI plugin. The backend uses Django, a mature Python framework known for its scalability. PostgreSQL is used for data storage.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg></a>
        <!---->      
        <li class="mb-10 ms-4">
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">March 2025</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Lubimyczytać.pl Web Scrapper</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">A Python script designed to export book-related data from Lubimyczytać.pl into CSV files for easy access and analysis.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/></svg></a>
        </li>
        <!---->
      </ol>    
    </div>
  </div>
  <div class="collapse collapse-plus bg-base-100 border border-base-neutral mb-2 mt-8">
    <input type="radio" name="my-accordion-3" />
    <div class="collapse-title font-semibold">
      <h2 class="text-primary">Finished:</h2>
      <!-- Finished-->
      <!---->
    </div>
    <div class="collapse-content text-sm">
      <ol class="relative border-s border-base-neutral dark:border-base-700">                  
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">2022</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Cartoon Image Filter</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">The project compared C and ASM execution times within a C# app that converts images into a cartoon-like style.</p>
          <a href="#" 
          class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
        
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">Jun 2022</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Cryptocurrency Price Prediction</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400"><span class="badge">Python</span> + <span class="badge">TensorFlow</span> app for testing price prediction capabilities for stock markets and cryptocurrencies.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
        
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">March 2022</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Gaussian Pyramid Project</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">Implementation and analysis of Gaussian pyramid structures for image processing.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
        
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">March 2022</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Multi-Dimensional Data Visualization</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">Data visualization using Dash and Plotly charts in a desktop-like Electron application.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
        
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">Jun 2022</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Instagram-like Image Forum</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">Django + Bootstrap social app, integrated with Google API for enhanced features.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
        
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">Jan 2023</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Activity Tracker Project</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">Forum-based Django + Bootstrap application focused on a physical activity-oriented ecosystem.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
        
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">July 2024</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Granular Data Organization</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">Grouping data into clusters: comparing DBSCAN with a custom hierarchical grouping algorithm.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
        
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500">Jun 2022</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Simple Unity 2D Game</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">A small 2D game project built using Unity engine.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
        
        <li class="mb-2 ms-4">
          <div class="absolute w-3 h-3 bg-base-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-base-900 dark:bg-base-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-base-400 dark:text-base-500"> 2023</time>
          <h3 class="text-lg font-semibold text-base-900 dark:text-white">Weather Data Web Scraping & Visualization</h3>
          <p class="mb-2 text-base font-normal text-base-500 dark:text-base-400">Python app fetching weather data, visualized using Matplotlib, stored in a PostgreSQL database.</p>
          <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-base-900 bg-base-100 border border-base-100 rounded-lg hover:bg-base-200 hover:text-primary focus:z-10 focus:ring-4 focus:outline-none focus:ring-base-100 focus:text-primary dark:bg-base-800 dark:text-base-400 dark:border-base-600 dark:hover:text-white dark:hover:bg-base-700 dark:focus:ring-base-700">Learn more
            <svg class="w-3 h-3 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </li>
        
      </ol>
    </div>
  </div>




  <!-- Timeline Flowbite --> <!-- https://flowbite.com/docs/components/timeline/ --> <!-- Integrated with DaisyUI texts for theme synergy-->
  <!-- Timeline Flowbite -->

  <!-- End Timeline Flowbite -->

  <article class="bg-base-200 p-6 rounded-box mt-4">
    <h2 class="text-secondary mb-2">TO DO:</h2>
    <br>
    <h3 class="text-secondary">I. Koncepcje:</h3>
    <ul class="list-disc pl-5">
      <li>Wizualizacja podatkowa w danym kraju</li>
    </ul>
    <br>
  </article>
</section>
</div>
{% endblock %}